* {
  margin: 0px;
  padding: 0px;
}

.listingContainer{
    padding: 0px 12px 0px 12px;
}

/* Nav styling */
.nav {
  width: 100%;
  min-height: 60px;
  

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  
}
.nav > div {
    margin: 0px 10px;
}
.logo{
    width: 500px;
   
}
.search {
  display: flex;
  width: 400px;
}
.navUserProfile{
    width: 250px;
    height: 40px;
  

    margin-left: 300px;
    display: flex;
    justify-content: end;
}


/* First Section Styling */
.miniListingInfo{
    padding: 0px 95px;
}
.miniListingInfo > h3 {
    /* //styleName: text-3xl/Medium; */
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
    text-align: left;

}
.subMiniInfoBar {
  display: flex;
  justify-content: space-between;
}
.miniInfo{
    display: flex;
    align-items: end;
}
.miniInfo > span {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;


  
}
.interaction{
    margin-right: 20px;
}




/* Third Section Styling */
.listingInfo{
    padding: 0px 95px;
}
.Images{
    display: flex;
    width: 100%;
    max-height: 500px;
}
.mainImage{
    /* max-width: 700px;
    max-height: 500px; */
}
.mainImageBanner{
 width: 800px;
 height: 100%;
 border-radius: 25px;
 padding: 3px;
 margin-right: 10px;
}
/* .mainImageBanner > img{
    width: 100%;
    height: 100%;
   } */
  
.subImages{
    display: flex;
    flex-wrap: wrap;

    height: 100%;

    /* Display flex and wrap the 
    content  */
}
.subImage{
 margin-right: 5px;
 
}
.smallerImage{
  width: 260px;
  height: 210px;
  border-radius: 15px;
}

/* Extensive Listing Details  */
.ListingDetails{
    
}
.details{
    
    padding-right: 35px;
    display: flex;
    justify-content: space-between;
    margin: 25px 0px;
}
.info{
    max-width: 50%;
}
.listingName{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.name > h3 {
   
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    
}
.name > span {
  
font-family: Inter;
font-size: 14px;
font-weight: 400;
line-height: 20px;
text-align: left;

}
/* Host profile photo */
.hostPhoto{
    position: relative;
    max-width: 50px;
    max-height: 50px;
}
.hostPhoto > img {
   width: 100%;
   height: 100%;
    border: none;
    border-radius: 100%; 
    /* Make it round Shaped */
}
.hostTagIcon{
position: absolute;
top: 27px;
left: 30px;
}

.amendeties{
    margin: 15px 0px;
}
.amendeties > div {
    margin: 20px 0px;
}
.accomodationTypeDescription{
 display: flex;
 align-items: end;

}
.descriptiveIcon{
    margin-right: 10px;
}
.accomodationType > h4{
  
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    line-height: 5px;
    text-align: left;
    color: rgba(0, 0, 0, 1);


}
.accomodationType > span{
  
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    /* line-height: 5px; */
    text-align: left;
    color: rgba(107, 114, 128, 1);

    


}

.cleaningDescription{
    display: flex;
    align-items: end;
   
   }
   .descriptiveIcon{
       margin-right: 10px;
   }
   .cleaningType > h4{
     
       font-family: Inter;
       font-size: 16px;
       font-weight: 500;
       line-height: 5px;
       text-align: left;
       color: rgba(0, 0, 0, 1);
   
   
   }
   .cleaningType > span{
     
       font-family: Inter;
       font-size: 14px;
       font-weight: 400;
       /* line-height: 5px; */
       text-align: left;
       color: rgba(107, 114, 128, 1);
   
       
   
   
   }
   

 .listingTextDescription{
    margin: 20px 0px;
 }  
.listingTextDescription > p{

    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}



/* Side Card Reserve Section */
.reserve{ 
    padding: 20px;
    max-width: 30%;
    width: 300px;
    height: 470px;
    border: 1px solid gray;
    border-radius: 14px;

    box-shadow: 10px 10px 5px rgb(86, 89, 90);
}
.priceAndReview{
    display: flex;
    justify-content: space-between;
   margin-bottom: 15px;
}
.dollarAmount{
   
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    /* line-height: 32px; */
    text-align: left;

}

/* Dates Box On the Reserve Card */
.datesAndGusts{
    border-radius: 20px;
    width: 100%;
    height: 90px;
    background-color: gray;
   
    margin-bottom: 20px;
}
.chooseDates{
   display: flex;
   
}
.checkingInDate, .checkingOutDate{
    width: 50%;
    height: 45px;
    border-right: 1px solid  black;
    background-color: red;
    
}
.geusts{
    height: 50%;
    width: 100%;
    border-top: 1px solid black;
    background-color: goldenrod;
}
.reserveButton > button {
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 7px;
    background-color: rgb(222, 49, 81) ;
    margin-bottom: 15px;
}
.randomText{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(107, 114, 128, 1);
}

/* Pricing Display  */
.pricePerDay, .weeklyDiscount,
.cleaningFee, .serviceFee,
.ocupancyTaxAndFees, .grandTotal{
    display: flex;
    justify-content: space-between;
    margin: 2px 0px;

    
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;

}
.grandTotal{
 margin-top: 5px;
}
.reportListing{
    width: 100%;
    text-align: center;
    margin-bottom: 15px;

    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(107, 114, 128, 1);

}


/* Where You'll Sleep Section Bedroom
 Section  */

.extra{
    max-width: 80%;
}
.bedroomShowcase{
    margin: 15px 0px;
}
.bedroomShowcase > h3 {
   
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
   margin-bottom: 15px;
}
.bedroomDetails > h4{
   
font-family: Inter;
font-size: 16px;
font-weight: 500;
line-height: 24px;
text-align: left;

}
.bedroomDetails > span{
   
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    
    
    }
.bedroomPhotos{
    max-width: 250px;
    max-height: 270px;
}
.bedroomPhotos > img {
    width: 100%;
    height: 100%;
    border-radius: 12px;
}

/* What This Place Offers Section */
.offersAvailable{
    margin: 15px 0px;
}
.offersAvailable > h3{
 margin-bottom: 15px;
}
.offers{
    display: flex;
}
.offerList{
    margin: 0px 10px 0px 10px;
}
.offer{
    display: flex;
  
}
.offerIcon{
    margin-right: 10px;
}
.offerName{
    display: flex;
    align-items: center;
}
.offerName > h5 {
    
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    
}
.offerButton > button {
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    background: transparent;
}

/* Dates and calender display here */
.reviews{
    width: 100%;
}
.slideGraphs{
    display: flex;
}
.graph{
    display: flex;
    justify-content: space-between;
}

/* Reviers/ Comments Section */
.reviewComments{
    display: flex;
}
.user{
    display: flex;
}
.userPhoto{
    max-width: 40px;
    max-height: 40px;
}
.userPhoto > img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
}
.comments{
    margin: 12px 0px 12px 0px;
}
.user{
    margin-bottom: 12px;
}
.reviewButton > button{
    width: 150px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 10px;
    background: transparent;
}

/* Hosted By Section */
.hostedByUser{
    display: flex;
}
.userDescriptiveDetails > h4{
    margin-top: 12px;
   }
.userDescriptiveDetails > p{
 margin: 12px 0px 12px 0px;
}
.contactUserButton > button{
width: 180px;
height: 70px;
background: transparent;
border-radius: 12px;
border: 1px solid  gray;
/* font-weight: bold; */

}

/* Things To Know Section */
.thingsToKnow{
    width: 100%;
}
.thingsToKnowInfo{
    display: flex;
}
.thingsToKnowInfo > div {
    margin: 5px;
}

/* Explore Other Section */
.explore{
    width: 100%;

}
.options{
    display: flex;
    justify-content: space-evenly;
}
.optionList{
    width: 100%;
    height: 100%;
}
.option{
    margin: 15px 0px 10px 0px;
}
