*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.logInNav{
    width: 100%;
    height: 60px;

    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 20px 39px;
}