*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.home{
    width: 100vw;
    height: 100vh;

  
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    padding: 0px 40px;

    background-color: rgb(0, 0, 0);

}
.nav > div {
    
    margin: 0px 30px;
}
.logo{
    width: 200px;
}
.navLinks{
    width: 408px;
    height: 30px;
    display: flex;
    justify-content: center;
}
.navLinks > span {
    margin-right: 15px;
    color: white;
    
}
.userProfile{
    display: flex;
    justify-content: end;
}
.locationFilter{
    display: flex;
    width: 100%;
    max-height: 64px;

    justify-content: center;
}


/* Banner Section */
.banner{
 width: 100%;
 height: 100vh;
 position: relative;
  background-color: rgb(0, 0, 0);
 padding: 0px 70px;
 padding-bottom: 120px;

}

.bannerText{
    position: absolute;
    top: 65%;
    left: 30%;
   
}
.bannerTextContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.bannerTextContent > h1{
    
    font-family: Inter;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-align: left;

}
.bannerTextContent > button {
    width: 90px;
    height: 40px;
    color: rgb(201, 64, 64);
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    background-color: rgb(240, 240, 240);
}
.extraContent{
    width: 100%;
    height: 3096px;
    padding: 50px 70px;
    background-color: rgb(255, 255, 255);
}


/* Inspiratio section */
.inspiration{
    width: 100%;
    height: 500px;
    /* max-height: 536px; */
    margin-bottom: 50px;
    /* padding: 0px 50px; */
}
.inspirationCards{
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    padding-bottom: 30px;

    
}
.inspiration > h2 {
   
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;

    /* margin-bottom: 20px; */

}


/* Discover Section */
.discover{
    width: 100%;
    max-height: 720px;
}
.discover > h1{
    
    font-family: Inter;
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    text-align: left;

    margin-bottom: 20px;

}
.banners{
    display: flex;
    justify-content: space-evenly;
    
}
.banners > div {
    width: 100%;
    height: 100%;
}
.photo1, .photo2 {
    position: relative;
}
.banners > div {
    margin: 0px 5px 0px 5px;
}

.photo1 > img {
    width: 95%;
    max-height: 645px;
    border-radius: 10px;
}
.photo2 > img {
    width: 95%;
    max-height: 645px;
    border-radius: 10px;
}
.photo1Text, .photo2Text {
    position: absolute;
    top: 10%;
    left: 10%;
}
.photo1Text > h1 {
    max-width: 300px;
    max-height: 112px;

    
    font-family: Inter;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-align: left;

    color: white;
}
.photo1Text > button {
    width: 142px;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
}

.photo2Text > h1 {
    max-width: 280px;
    max-height: 112px;

    
    font-family: Inter;
    font-size: 48px;
    font-weight: 500;
    line-height: 56px;
    text-align: left;

    color: white;
}
.photo2Text > button {
    width: 195px;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
}


/* Shop  */
.shop{
    width: 100%;
    max-height: 320px;
    display: flex;
    margin-top: 50px;
    /* align-items: center; */

}
.shopText{
    height: 320px;
    width: 500px;

    display: flex;
    align-items: center;
  

}
.shopTextContent{

}
.shopTextContent > h1 {
   
    font-family: Inter;
    font-size: 50px;
    font-weight: 500;
    line-height: 50px;
    text-align: left;

    max-width: 300px;
   

}
.shopTextContent > button {
    width: 100px;
    height: 35px;
    margin-top: 20px;
    color: white;
    background-color: black;
    border-radius: 5px;
    border: none;
}
.shopImage{
    max-width: 100%;
    max-height: 320px;
   
}
.shopImage > img {
    width: 100%;
    height: 100%;
   
}


/* Questions section */
.questionsBanner{
    position: relative;
    width: 100%;
    margin-top: 100px;
    height: 640px;

    background-color: red;
}
.questionsText{
    position: absolute;
    max-width: 250px;
    top: 5%;
    left: 4%;
}
.questionsText > h1 {
    font-family: Inter;
    font-size: 96px;
    font-weight: 500;
    line-height: 96px;
    text-align: left;

    color: white;
    margin-bottom: 80px;

}
.questionsText > button {
    width: 142px;
    height: 40px;
    border-radius: 6px;
    border: none;
    margin-top: 20px;
}

/* Inspiration For Future getaway */
.inspirationForFuture{
    margin-top: 50px;
    width: 100%;
    max-height: 304px;
}
.inspirationForFuture > h2 {
    
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
    text-align: left;
    margin-bottom: 10px;

}
.links{
    margin-bottom: 20px;
}
.links > span{
   margin-right: 12px;
  
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;
   

}
.links > span:hover{
  color: rgba(107, 114, 128, 1);

}
/* Links Span If Active color is black but 
  if not color is gray and the is a hover highlit effect
    underline under the links name and the active
    one */
.suggestions{
    width: 100%;
    display: flex;
}
.sugestedlocations > h2 {
    
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;

}
.sugestedlocations > span {
   
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(107, 114, 128, 1);


}
.suggestions > div {
    width: 25%;
    margin: 10px 0px;
}