*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
   
}
.homeNavSearch{
    /* max-width: 848px;
    max-height: 65px; */

    max-width: 648px;
    min-width: 848px;
    height: 50px;
    border-radius: 35px;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);

    margin-bottom: 12px;
    padding: 15px 5px;
}

.homeNavSearch > div {
   
    line-height: 20px;
    height: 40px;

}


.checkIn, .checkOut{
    width: 20%;
}
.location, .checkIn,
.checkOut, .guest{ 
    border-right: 1px solid rgb(236, 236, 236);
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5px;
    padding-right: 15px;
    width: 300px;
    
}
.location, .checkIn,
.checkOut{
 margin-right: 10px;
}
.headingText{
    
    font-family: Inter;
    font-size: 15px;
    font-weight: 600;
    line-height: 16px;
    text-align: left;

}
.subText {
   
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
    color: rgba(107, 114, 128, 1);


}
